.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form input {
    width: 250px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #555;
}

.login form button {
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 4px;
    background-color: rgba(24, 24, 248, 0.692);
}

.login form button:focus {
    background-color: blue;
}
