.work {
  padding: 100px 0 0;

  .container {
    .wrapper-project {
      position: relative;
      margin-top: 60px;

      @media (max-width: 767px) {

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7));
          border-radius: var(--border-radius);
          filter: grayscale(45%) contrast(1) brightness(90%);
        }
      }      

      .project-img {
        width: 57%;
        height: 360px;
        position: absolute;
        top: 0;
        z-index: 1;

        @media (max-width: 992px) {
          width: 55%;
          height: 280px;
          top: 20px;
        }

        @media (max-width: 767px) {
          // display: none;
          width: 100%;
          height: 100%;
          filter: grayscale(45%) contrast(1) brightness(90%);
          top: 0;
        }

        &::after {
          border-radius: var(--border-radius);
          position: absolute;
          left: 0px;
          top: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: #0e8f7180;
          opacity: 0.8;
          transition: all 0.2s linear;
        }

        &:hover::after {
          opacity: 0;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: var(--border-radius);
          object-fit: cover;
        }
      }

      .project-content {
        text-align: right;
        width: 55%;
        margin-left: auto;
        z-index: 3;
        position: relative;

        @media (max-width: 992px) {
          width: 70%;
        }

        @media (max-width: 767px) {
          width: 100%;
          margin-left: 0;
          text-align: left;
          padding: 40px 30px 30px 30px;
        }

        h5 {
          color: var(--green);
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 400;
        }

        a {
          text-decoration: none;
          display: inline-block;
          color: var(--lightest-slate);
          font-size: 28px;
          margin-bottom: 20px;

          @media (max-width: 767px) {
            color: #fff;
          }

          &:hover {
            color: var(--green);
          }
        }

        .project-card {
          padding: 25px;
          font-size: 16px;
          background-color: var(--light-navy);
          border-radius: var(--border-radius);
          color: var(--light-slate);

          @media (max-width: 767px) {
            background-color: transparent;
            padding: 0;
          }
        }

        ul {
          margin: 30px 0 20px;
          display: flex;
          list-style-type: none;
          align-items: center;
          // justify-content: flex-end;

          li {
            margin-left: 20px;
            font-size: 15px;
            color: var(--light-slate);

            &:first-child {
              margin-left: 0;
            }
          }
        }

        .project-link {
          a {
            margin-left: 20px;

            .fa-github {
              font-size: 24px;
            }

            i {
              color: var(--lightest-slate);
              font-size: 22px;
            }

            &:first-child {
              margin-left: 0;
            }

            &:hover {
              i {
                color: var(--green);
              }
            }
          }
        }
      }
    }
  }
}